<div class="row">
    <div class="col-md-6 p-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
            </div>
            <select [(ngModel)]='datos.clienteId' class="custom-select" id="inputGroupSelect01">
              <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
            </select>
          </div>
    </div>
    <div class="col-md-6 p-3">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Concepto</label>
            </div>
            <select [(ngModel)]='datos.conceptoId' class="custom-select" id="inputGroupSelect01">
              <option *ngFor="let concepto of conceptos" [value]="concepto.id">{{ concepto.descripcion }}</option>  
            </select>
          </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-6 p-3"><div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Desde</span>
          </div>
          <input type="date" [(ngModel)] = 'datos.fechaDesde' class="form-control">
        </div>
        </div>
        <div class="col-md-6 p-3"><div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Hasta</span>
            </div>
            <input type="date" [(ngModel)] = 'datos.fechaHasta' class="form-control" >
          </div>
          </div>
        
      </div>
  
      
      <div class="row">
          <div class="col-md-12  p-3">
              <button type="button" class="btn btn-outline-secondary float-right ml-3" (click)='resetear()'>Resetear</button>
              <button  type="button" class="btn btn-outline-primary float-right " (click)='filtrar()'>Filtrar</button>
              
          </div>
      </div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Puntos Utilizados</th>
        <th scope="col">Fecha</th>
        <th scope="col">Concepto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usopunto of usopuntos">
        <th scope="row">{{ usopunto.id}}</th>
        <td>{{ usopunto.clienteId}}</td>
        <td>{{ usopunto.puntajeUtilizado }}</td>
        <td>{{ usopunto.fecha | date: 'dd/MM/yyyy' }}</td>
        <td>{{ usopunto.conceptoId }}</td>
      </tr>
      
    </tbody>
  </table>
