<form [formGroup]='gastarForm' class="form-signin" (ngSubmit)="onSubmit(gastarForm)" novalidate>
    <div class="text-center mb-4">
      <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Usa tus vales!</h1>
      <p>Completa los campos para disfrutar de los beneficios</p>
    </div>
  
   

    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
        </div>
        <select formControlName='clienteId' class="custom-select" id="inputGroupSelect01">
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
        </select>
      </div>

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Concepto</label>
          </div>
          <select formControlName='conceptoId'class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let concepto of conceptos" [value]="concepto.id">{{ concepto.descripcion }}</option>  
          </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Cantidad</label>
            </div>
            <select formControlName='cantidad' class="custom-select" id="inputGroupSelect01">
              <option  value="1">1</option>
              <option value="2">2</option>
              <option  value="3">3</option> 
              <option  value="4">4</option>  
              <option  value="5">5</option>   
            </select>
          </div>
  
    
  
    
    <button [disabled]='!gastarForm.valid' class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
    
  </form>