<div class="row">
  <div class="col-md-3 p-3">
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Cliente</label>
          </div>
          <select [(ngModel)]='datos.clienteId' class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>  
          </select>
        </div>
  </div>
  <div class="col-md-3 p-3"><div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect01">Estado</label>
      </div>
      <select [(ngModel)]='datos.estado' class="custom-select" id="inputGroupSelect01">
        <option value="vigente">Vigente</option>
        <option value="vencido">Vencido</option>   
      </select>
    </div></div>
    <div class="col-md-3 p-3"><div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Vence en</span>
        </div>
        <input type="number" [(ngModel)] = 'datos.venceEn' class="form-control"  min="1" max="100" >
      </div></div>
      <div class="col-md-3 p-3">
        <button  type="button" class="btn btn-outline-primary mx-auto" (click)='filtrar()'>Filtrar</button>
        <button type="button" class="btn btn-outline-secondary ml-2" (click)='resetear()'>Resetear</button>
        </div>
    </div>


<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Asignacion</th>
        <th scope="col">Caducidad</th>
        <th scope="col">Puntaje Asignado</th>
        <th scope="col">Puntaje Utilizado</th>
        <th scope="col">Saldo</th>
        <th scope="col">Monto de Operacion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bolsa of bolsas">
        <th scope="row">{{ bolsa.id}}</th>
        <td>{{ bolsa.clienteId}}</td>
        <td>{{ bolsa.fechaAsignacion }}</td>
        <td>{{ bolsa.fechaCaducidad }}</td>
        <td>{{ bolsa.puntajeAsignado }}</td>
        <td>{{ bolsa.puntajeUtilizado }}</td>
        <td>{{ bolsa.saldo }}</td>
        <td>{{ bolsa.montoOperacion }}</td>
      </tr>
      
    </tbody>
  </table>