<div class="container">
    <nav class="navbar navbar-expand-lg  navbar navbar-dark bg-dark">
        <a class="navbar-brand " routerLink="/gastar">Sistema de Fidelizacion de Clientes-2019</a>
      </nav>
</div>
